<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
</head>
<body>

<h1>Address Book</h1>
<table>
    <thead>
    <tr>
        <th> First name</th>
        <th> Last name</th>
        <th> Phone number</th>
        <th> Email address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td><span th:text="${contact.firstName}"> First name </span></td>
        <td><span th:text="${contact.firstName}"> First name </span></td>
        <td><span th:text="${contact.lastName}"> Last name </span></td>
        <td><span th:text="${contact.phoneNumber}"> Phone number </span></td>
        <td><span th:text="${contact.email}"> Email address </span></td>
        <td>

            <form action="#" th:action="@{/edit/__${contact.id}__}" method="get">
                <input type="submit" value="Edit contact">
            </form>
        </td>

    </tr>
    </tbody>
</table>
    <form action="add.html">
        <input type="submit" value="Add contact">
    </form>


</body>
</html>


<!--public class Contact {-->
<!--@Id-->
<!--Long id;-->
<!--String firsName;-->
<!--String lastName;-->
<!--String phoneNumber;-->
<!--String email;-->